body {
  padding-left: 8em;
  font-family: sans-serif;
  color: #004d40;
  background-color: #ffffff
}

h1 {
  font-family: sans-serif 
}


.boton{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #8880D0;
    border-radius: 6px;
    border: -2px solid;
 }

span{
  font-family: sans-serif;
  color: #004d40;
}